
        <div class="col-xs-12">
          <div class="card card-border-default">
            <div class="card-header">
              <h1 class="sub-title">Marketplace</h1>
            </div>
          </div>
        </div>
<!-- here will be the marketplace displayed -->

			  <div class="row card-group">
		      <div class="col-sm-3" *ngFor="let product of productsList">
		        <div class="card col-sm-12">
		          <div class="card card-border-default">
		            <div class="card-header">
		              <div class="col-sm-12">
		                <h4 class="sub-title">{{product.name}}</h4>
		              </div>  
		            </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
                  </div> 
                </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{product.description}}</a>
		              </div> 
		            </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{product.price}}</a>
		              </div> 
		            </div>
                <input type="text" placeholder="Offer" name="offer">
                <button class="btn" (click)="buyProduct(product, offer)">Buy
                </button>
		          </div>  
		        </div>
		      </div>    
		    </div>

<!-- here will be the marketplace displayed END-->

        <div class="col-xs-12">
          <div class="card card-border-default">
            <div class="card-header">
              <h1 class="sub-title">Your Items</h1>
            </div>
          </div>
        </div>

<!-- here will be the merchant's own marketplace displayed -->
			  <div class="row card-group">
		      <div class="col-sm-3" *ngFor="let myproduct of allProductsList">
		        <div class="card col-sm-12">
		          <div class="card card-border-default">
		            <div class="card-header">
		              <div class="col-sm-12">
		                <h4 class="sub-title">{{myproduct.name}}</h4>
		              </div>  
		            </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <img class="card-img-top" src="{{myproduct.imageUrl}}" alt="Card image cap">
                  </div> 
                </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{myproduct.description}}</a>
		              </div> 
		            </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{myproduct.price}}</a>
		              </div> 
		            </div>
		          </div>  
		        </div>
		      </div>    
		    </div>
<!-- here will be the merchant's own marketplace displayed END-->

<!-- here will be the upload of products -->

			      <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-header">
                  <h5 class="ng-tns-c5-64">Upload new product</h5>
                </div>
                  <form #productObjectForm="ngForm" (ngSubmit)="submitProduct(productObjectForm)">
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Name</h4>
                        <input [(ngModel)]="productObject.name" type="text" placeholder="Name" name="name">
                      </div>
                    </div>
                    <div class="card-body">
                      <div *ngIf="productObject" class="progress" style="width:400px">
                        <div class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                          aria-valuemin="0" aria-valuemax="100"
                          [ngStyle]="{width:progress.percentage+'%'}">
                          {{progress.percentage}}%
                        </div>
                      </div>
                      <label class="btn btn-default"> 
                        <input type="file"
                        (change)="selectFile($event)">
                      </label>
                      <button class="btn btn-success" [disabled]="!selectedFiles"
                        (click)="upload()">Upload
                      </button>
                    </div>   
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Description</h4>
                        <textarea [(ngModel)]="productObject.description" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Price</h4>
                        <textarea [(ngModel)]="productObject.price" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Quantity</h4>
                        <textarea [(ngModel)]="productObject.quantity" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Contact Number</h4>
                        <input [(ngModel)]="productObject.phoneNumber" type="text" placeholder="87654321" name="phoneNumber">
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Time</h4>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="productObject.date" ngbDatepicker #d="ngbDatepicker">
                              <div class="input-group-addon bg-default" (click)="d.toggle()" >
                                <span class="icofont icofont-ui-calendar"></span>
                              </div>
                          </div>
                      </div>  
                    </div> 
                  </form>
                <div class="card-footer">
                  <button (click)=submitProduct(productObject)>Submit</button>
                </div>   
              </div>
            </div>
<!-- here will be the upload of products END-->

