
        <!-- <div class="col-xs-12">
          <div class="card card-border-default">
            <div class="card-header">
              <h1 class="sub-title">Marketplace</h1>
            </div>
          </div>
        </div> -->
<!-- here will be the marketplace displayed -->

			  <!-- <div class="row card-group">
		      <div class="col-sm-3" *ngFor="let product of productsList">
		        <div class="card col-sm-12">
		          <div class="card card-border-default">
		            <div class="card-header">
		              <div class="col-sm-12">
		                <h4 class="sub-title">{{product.name}}</h4>
		              </div>  
		            </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
                  </div> 
                </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{product.description}}</a>
		              </div> 
		            </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{product.price}}</a>
		              </div> 
		            </div>
                <input type="text" placeholder="Offer" name="offer">
                <button class="btn" (click)="buyProduct(product, offer)">Buy
                </button>
		          </div>  
		        </div>
		      </div>    
		    </div> -->

<!-- here will be the marketplace displayed END-->

        <!-- <div class="col-xs-12">
          <div class="card card-border-default">
            <div class="card-header">
              <h1 class="sub-title">Your Items</h1>
            </div>
          </div>
        </div> -->

<!-- here will be the merchant's own marketplace displayed -->
			  <!-- <div class="row card-group">
		      <div class="col-sm-3" *ngFor="let myproduct of allProductsList">
		        <div class="card col-sm-12">
		          <div class="card card-border-default">
		            <div class="card-header">
		              <div class="col-sm-12">
		                <h4 class="sub-title">{{myproduct.name}}</h4>
		              </div>  
		            </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <img class="card-img-top" src="{{myproduct.imageUrl}}" alt="Card image cap">
                  </div> 
                </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{myproduct.description}}</a>
		              </div> 
		            </div>
		            <div class="card-body">
		              <div class="col-sm-12">
		                <a class="text">{{myproduct.price}}</a>
		              </div> 
		            </div>
		          </div>  
		        </div>
		      </div>    
		    </div> -->
<!-- here will be the merchant's own marketplace displayed END-->

<!-- here will be the upload of products -->

			      <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-body">
                  <div class="top-card text-center">
                    <img alt="" class="img-responsive" src="assets/images/widget/user1.png">
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Christopher Dony Yen</h1>
                  </div>
                </div>
              </div>
            </div>
<!-- here will be the upload of products END-->
            <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Experiences</h1>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-icon"><i class="icofont icofont-snow-flake"></i></button>
                    <span align="center" class="title"><strong>Sentiment Analysis Of New Product</strong></span>
                    <p>Some description here, i just wan to make it look lengthy</p>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-icon"><i class="icofont icofont-space-shuttle"></i></button>
                    <span align="center" class="title"><strong>New Opportunities in Greater China</strong></span>
                    <p>Some description here, i just wan to make it look lengthy</p>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-icon" color="blue"><i class="icofont icofont-robot-face"></i></button>
                    <span align="center" class="title"><strong>Open Session VBA Programming for All!</strong></span>
                    <p>Some description here, i just wan to make it look lengthy</p>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Endorsements</h1>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <div class="card-body client-card table-1-card p-t-0">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr class="text-capitalize">
                            <th>Endorsers</th>
                            <th>Testimonials</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user2.png"></a>
                              <p>Thomas Milligan</p>
                            </td>
                            <p><i>"He is truly the greatest!" The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest! The greatest!</i></p>
                          </tr>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user4.png"></a>
                              <p>Julie Cranard</p>
                            </td>
                            <p><i>"You haven't lived, if you haven't seen him" seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him seen him</i></p>
                          </tr>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user3.png"></a>
                              <p>Vivian Blausher</p>
                            </td>
                            <p><i>"He is the only man to beat me!" beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me! beat me!</i></p>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Ratings</h1>

                    <div class="card sale-report-card">
                      <div class="card-body">
                        <h5>MARKETING</h5>
                        <span class="sale-rate"><i class="icofont icofont-emo-simple-smile"></i> 4.2/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress">
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" class="progress-bar progress-bar-warning" role="progressbar" style="width:84%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#2ecc71">
                      <div class="card-body">
                        <h5>IT</h5>
                        <span class="sale-rate"><i class="icofont icofont-emo-simple-smile"></i> 3.8/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" class="progress-bar progress-bar-success" role="progressbar" style="width:76%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#0096dd">
                      <div class="card-body">
                        <h5>Design</h5>
                        <span class="sale-rate"><i class="icofont icofont-emo-expressionless"></i> 2.5/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" class="progress-bar progress-bar-success" role="progressbar" style="width:80%; background-color:#005177;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#EA4C89">
                      <div class="card-body">
                        <h5>Business and Sales</h5>
                        <span class="sale-rate"><i class="icofont icofont-emo-angry"></i> 1.0/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" class="progress-bar progress-bar-success" role="progressbar" style="width:80%; background-color:#e74c3c;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>




<!-- <form #productObjectForm="ngForm" (ngSubmit)="submitProduct(productObjectForm)">
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Name</h4>
                        <input [(ngModel)]="productObject.name" type="text" placeholder="Name" name="name">
                      </div>
                    </div>
                    <div class="card-body">
                      <div *ngIf="productObject" class="progress" style="width:400px">
                        <div class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                          aria-valuemin="0" aria-valuemax="100"
                          [ngStyle]="{width:progress.percentage+'%'}">
                          {{progress.percentage}}%
                        </div>
                      </div>
                      <label class="btn btn-default"> 
                        <input type="file"
                        (change)="selectFile($event)">
                      </label>
                      <button class="btn btn-success" [disabled]="!selectedFiles"
                        (click)="upload()">Upload
                      </button>
                    </div>   
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Description</h4>
                        <textarea [(ngModel)]="productObject.description" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Price</h4>
                        <textarea [(ngModel)]="productObject.price" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Quantity</h4>
                        <textarea [(ngModel)]="productObject.quantity" rows="5" cols="5" class="form-control" placeholder="Details of fault" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Contact Number</h4>
                        <input [(ngModel)]="productObject.phoneNumber" type="text" placeholder="87654321" name="phoneNumber">
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Time</h4>
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="productObject.date" ngbDatepicker #d="ngbDatepicker">
                              <div class="input-group-addon bg-default" (click)="d.toggle()" >
                                <span class="icofont icofont-ui-calendar"></span>
                              </div>
                          </div>
                      </div>  
                    </div> 
                  </form>
 -->