<!-- 
    <div class="col-md-12 col-xl-8">
        <app-card [blockClass]="'card-body-big card-MarketAnalysis-block'">
            <div class="row">
                <div class="col-sm-12  card-MarketAnalysis-button">
                    <div class="col-sm-12  card-visitor-button">
                        <button class="btn btn-primary btn-icon"><i class="icofont icofont-user-alt-3"></i></button>
                        <div class="card-contain">
                        </div>
                    </div>
                    <div class="card-contain">
                        <h3 class="text-uppercase f-14 m-0">Project: Sentiment Analysis of New Product</h3>
                        <p class="text-muted f-12 m-0">Department: Sales and Business</p>
                        <p class="f-12 m-0">Description(s):</p>
                        <p class="f-12 m-0">The department seeks in-house data analysts to get current cosnumer sentiments on a competitor's product (substitute) to predict opportunities and successes for our new product</p>
                        <p class="text-muted f-12 m-0"></p><font color = "blue"> <strong>Master skill(s):</strong> Social Media, Web scraping, Machine Learning, Data presentation </font>
                        <p></p><p class="text-muted f-12 m-0">Posted by: Sherman Gerk</p> <img alt="" class="img-responsive" src="assets/images/widget/user3.png">
                    </div>
                </div> -->
                <!-- <div class="col-sm-4 hidden-xs-down text-center">
                    <span class="visitor-chart"></span>
                </div> -->
 <!--            </div>
        </app-card>
    </div> -->
    

    <!-- here will be the upload of products -->

                  <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-body">
                  <div class="top-card text-center">
                    <!-- <img alt="" class="img-responsive" src="assets/images/widget/user1.png"> -->
                    <button class="btn btn-primary btn-icon"><i class="icofont icofont-user-alt-3"></i></button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="text-uppercase f-14 m-0">Project: Sentiment Analysis of New Product</h1>
                    <p align="center" class="text-muted f-12 m-0">Department: Sales and Business</p>
                  </div>
                </div>
              </div>
            </div>
<!-- here will be the upload of products END-->
            <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Description(s):</h1>
                  </div>
                  <div class="col-xs-12">
                    <p class="f-12 m-0">The department seeks in-house data analysts to get current consumer sentiments on a competitor's product (substitute) to predict opportunities and successes for our new product</p>
                    <p>The project will be carried by a group of 10, mostly consisting of members from the business and sales department. We would like to take the opportunity to explore new options and go against the conventional methods. It will surely be a challenging project but guranteed to be fun. We hope to learn from the other each other, you included, and are more than willing to lend our expertise as well. :D</p>
                  </div>

                  <div class="card-body">
                    <div class="col-sm-12">
                        <div class='row'>
                            <div class="col-sm-3">
                                <img class="card-img-top" src="https://static.makeuseof.com/wp-content/uploads/2015/12/Zenscene_shutterstock_268875851.jpg" alt="Card image cap">
                            </div>
                            <div class="col-sm-3">
                                <img class="card-img-top" src="https://cdn.spafinder.com/sites/4/2018/01/xtime-out-calming-spa-escapes.jpg.pagespeed.ic.fJ_lSKRqTY.jpg" alt="Card image cap">
                            </div>
                            <div class="col-sm-3">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwxGXbHNqaEj1Au8FwR4zgWPUokU5_oAXoTmlJXqJkwEkqovxF" alt="Card image cap">
                            </div>
                            <div class="col-sm-3">
                                <img class="card-img-top" src="https://images.sobadsogood.com/calming-photos-fog-will-help-you-destress/1.jpg" alt="Card image cap">
                            </div> 
                        </div>   
                    </div> 
                  </div>




                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Reviews</h1>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <div class="card-body client-card table-1-card p-t-0">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr class="text-capitalize">
                            <th>Projectees</th>
                            <th>Comments</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user2.png"></a>
                              <p>Timmy Lifard</p>
                            </td>
                            <p><i>"I had a wonderful time working together with Sherman Gerk. He is packed with goodness!"</i></p>
                          </tr>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user4.png"></a>
                              <p>Jean Francois</p>
                            </td>
                            <p><i>"He is awesome! Professional yet fun to work with! A great teacher and an exceptional student!" </i></p>
                          </tr>
                          <tr>
                            <td class="photo-table img"><a href="javascript:;"><img alt="chat-user" class="img-circle" src="assets/images/widget/user3.png"></a>
                              <p>Poldoski Butzer</p>
                            </td>
                            <p><i>"He is okay..."</i></p>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="col-xs-12">
                    <h1 align="center" class="sub-title">Level of expertise required</h1>

                    <div class="card sale-report-card">
                      <div class="card-body">
                        <h5>Social Media</h5>
                        <span class="sale-rate">4.0/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress">
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" class="progress-bar progress-bar-warning" role="progressbar" style="width:80%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#2ecc71">
                      <div class="card-body">
                        <h5>Web Scraping</h5>
                        <span class="sale-rate">3.0/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" class="progress-bar progress-bar-success" role="progressbar" style="width:60%">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#0096dd">
                      <div class="card-body">
                        <h5>Machine Learning</h5>
                        <span class="sale-rate">2.0/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" class="progress-bar progress-bar-success" role="progressbar" style="width:40%; background-color:#005177;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card sale-report-card" style="background-color:#EA4C89">
                      <div class="card-body">
                        <h5>Data Presentation</h5>
                        <span class="sale-rate">5.0/5.0 </span>
                        <div class="row">
                          <div class="col-10">
                            <!-- <p>4.2/5.0</p> -->
                            <div class="progress" >
                              <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" class="progress-bar progress-bar-success" role="progressbar" style="width:100%; background-color:#e74c3c;">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class='card-footer'>
                    <div class="col-xs-12">
                        <p></p><p class="text-muted f-12 m-0">Posted by: Sherman Gerk</p> <img alt="" class="img-responsive" src="assets/images/widget/user3.png">
                    </div>    
                </div>
                
              </div>
            </div>