<div class="row">
  <!-- Right column start -->
  <div class="col-xl-3 col-lg-12 push-xl-9">
    <!-- Search box card start -->
    <div class="card">
      <div class="card-header">
        <h5 class="card-header-text">Search Box</h5></div>
      <div class="card-body p-t-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search here...">
          <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-search"></i></span>
        </div>
        <div class="task-right">
          <div class="accordion-block scale-accordion">
            <squeezebox [multiple]="true">
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-status">
                    <span data-toggle="collapse">Completed Stats</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="taskboard-right-progress">
                      <h6>Highest Priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text3"></span> -->
                          <div class="faq-bar3" style="width: 80%;"></div>
                        </div>
                      </div>
                      <h6>High priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text1"></span> -->
                          <div class="faq-bar1" style="width: 70%;"></div>
                        </div>
                      </div>
                      <h6>Normal priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text2"></span> -->
                          <div class="faq-bar2" style="width: 50%;"></div>
                        </div>
                      </div>
                      <h6>Low priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text4"></span> -->
                          <div class="faq-bar4" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                </sb-item-body>
              </sb-item>
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-users">
                    <span data-toggle="collapse">Assign Users</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="user-box assign-user taskboard-right-users">
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                            <div class="live-status bg-danger"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Santa Ana,CA</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Huntingston, NJ</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                            <div class="live-status bg-danger"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Willingstion, WA</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Illions, IL</p>
                        </div>
                      </div>
                    </div>
                </sb-item-body>
              </sb-item>
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-revision">
                    <span data-toggle="collapse">Revision</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="taskboard-right-revision user-box">
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-primary btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-gears"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Drop the IE specific hacks for temporal inputs</div>
                        <p class="chat-header  text-muted">4 minutes ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-danger btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-share"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Have Carousel ignore keyboard events</div>
                        <p class="chat-header  text-muted">12 Dec,2015</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-warning btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-font"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Add full font overrides for popovers and tooltips</div>
                        <p class="chat-header text-muted">2 month ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-success btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-responsive"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Responsive Asssignment</div>
                        <p class="chat-header  text-muted">6 month ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                  </div>
                </sb-item-body>
              </sb-item>
            </squeezebox>
          </div>
          <!-- end of task-right-revision -->
        </div>
        <!-- end of sidebar-right -->
      </div>
      <!-- end of card-body -->
    </div>
    <!-- Search box card end -->
  </div>
  <!-- Right column end -->
  <!-- Left column start -->
  <div class="col-xl-9 col-lg-12 pull-xl-3 filter-bar">
    <!-- Nav Filter tab start -->
    <nav class="navbar navbar-light bg-faded m-b-30 p-10">
      <ul class="nav navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="javascript:;">Filter: <span class="sr-only">(current)</span></a>
        </li>
        <li ngbDropdown="" class="nav-item dropdown">
          <a ngbDropdownToggle="" class="nav-link dropdown-toggle" href="javascript:;" id="bydate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-clock-time"></i> By Date</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bydate">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Today</a>
            <a class="dropdown-item" href="javascript:;">Yesterday</a>
            <a class="dropdown-item" href="javascript:;">This week</a>
            <a class="dropdown-item" href="javascript:;">This month</a>
            <a class="dropdown-item" href="javascript:;">This year</a>
          </div>
        </li>
        <!-- end of by date dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:;" id="bystatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-chart-histogram-alt"></i> By Status</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bystatus">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Open</a>
            <a class="dropdown-item" href="javascript:;">On hold</a>
            <a class="dropdown-item" href="javascript:;">Resolved</a>
            <a class="dropdown-item" href="javascript:;">Closed</a>
            <a class="dropdown-item" href="javascript:;">Dublicate</a>
            <a class="dropdown-item" href="javascript:;">Wontfix</a>
          </div>
        </li>
        <!-- end of by status dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:;" id="bypriority" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-sub-listing"></i> By Priority</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bypriority">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Highest</a>
            <a class="dropdown-item" href="javascript:;">High</a>
            <a class="dropdown-item" href="javascript:;">Normal</a>
            <a class="dropdown-item" href="javascript:;">Low</a>
          </div>
        </li>
      </ul>
        <div class="nav-item nav-grid">
          <span class="m-r-15">View Mode: </span>
          <button type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10" data-toggle="tooltip" data-placement="top" title="list view">
            <i class="icofont icofont-listine-dots"></i>
          </button>
          <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="grid view">
            <i class="icofont icofont-table"></i>
          </button>
        </div>
        <!-- end of by priority dropdown -->

    </nav>
    <!-- Nav Filter tab end -->


    <!-- over here, there will be maintenance reports pulled from the database: -->


     <!--  <div class="row card-group">
          <div class="col-sm-3" *ngFor="let report of reportsList">
            <div class="card col-sm-12">
              <div class="card card-border-default">
                <div class="card-header">
                  <div class="col-sm-12">
                    <h3 class="title">{{report.faultType}}</h3>
                  </div>  
                </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image cap">
                  </div> 
                </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <h4 class="sub-title">{{report.details}}</h4>
                  </div> 
                </div>
                <div class="card-body">
                  <div class="col-sm-12">
                    <h4 class="sub-title">{{report.date}}</h4>
                  </div> 
                </div>
                <button class="btn">Edit
                </button>
              </div>  
            </div>
          </div>    
        </div> -->


    <!-- end reports pulled from the database -->







    <!-- Task board design block start-->
    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <div class="col-sm-12">
              <div ngbDropdown class="d-inline-block"> -->
                <!-- <h3 class="title">{{report.faultType}}</h3> -->
                <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Fault Type</button> -->
               <!-- <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Lighting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Leakage</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Waste</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Infrastructure</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Facilities</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Other</a>
                </div>
              </div>
            </div>  
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">At level 10, lights outside apartment 322 flashes continuously</p>
                <p class="task-due"><strong> Posted : </strong><strong class="label label-danger">20 October 2017</strong></p>
              </div> -->
              <!-- end of col-sm-8 -->
            <!-- </div> -->
            <!-- end of row -->
         <!--  </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div> -->
                <!-- end of dropdown menu -->
              <!-- </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div> -->
                <!-- end of dropdown menu -->
              <!-- </div> -->
              <!-- end of dropdown-secondary -->
              <!-- <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div> -->
                <!-- end of dropdown menu -->
             <!--  </div> -->
              <!-- end of seconadary -->
            <!-- </div> -->
            <!-- end of pull-right class -->
         <!--  </div> -->
          <!-- end of card-footer -->
        <!-- </div>
      </div>  
    </div> -->
    <!-- Task board design block end -->




    <!-- Task board design block test start-->
    <div class="row card-group">
      <div class="col-sm-6" *ngFor="let report of reportsList">
        <div class="card card-border-default">
          <div class="card-header">
            <div class="col-sm-12">
                
                <!-- <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Fault Type</button> -->
               <!-- <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Lighting</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Leakage</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Waste</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Infrastructure</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Facilities</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Other</a>
                </div> -->

              <div>
                <h3 class="title">{{report.name}}</h3>
              </div>

            </div>  
          </div>
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail"><i>{{report.faultType}}</i></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-header">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail"><strong>Details : </strong></p>
                <p class="task-detail">{{report.details}}</p>
                <p class="task-detail"><strong>Master Skill(s) : </strong></p>
                <p class="task-detail">{{report.masterSkills}}</p>
                <p class="task-due"><strong> Deadline : </strong><strong class="label label-danger">{{report.date}}</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{report.priority}}</button>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <button (click)=deleteThis(report.name)><i class="icofont icofont-close-circled"></i></button>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>  
    </div>
    <!-- Task board design block end -->


<!-- 
    <div class="row">
      <div *ngFor="let report of reportsList">
        <input hidden="true" value="{{report.uid}}"> 
        <div class="col-sm-6">
          <div class="card card-border-default">
            <div class="card-header">
              <div class="col-sm-12">
                <h4 class="sub-title">{{report.faultType}}</h4>
                <span>  
                  <button (click)=deleteReport(report)>Delete</button>
                </span>
              </div>  
            </div>
            <div class="card-header">
              <div class="col-sm-12">
                <a class="text">{{report.details}}</a>
              </div> 
            </div>
            <div class="card-header">
              <div class="col-sm-12">
                <a class="text">{{report.details}}</a>
              </div> 
            </div>
          </div>  
        </div>
      </div>    
    </div> -->


    




    <!--Place for new submission of reports-->
            <div class="col-xs-12">
              <div class="card card-border-default">
                <div class="card-header">
                  <h5 class="ng-tns-c5-64">Submit New Project</h5>
                </div>
                  <form #reportObjectForm="ngForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Project Name</h4>
                        <input [(ngModel)]="reportForm.name" type="text" placeholder="Name of Project" name="name">
                      </div>  
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <div class="col-xs-6">
                          <h4 class="sub-title">Project Type</h4>
                          <ng-select [ngClass]="'ng-select'" [options]="faultOptions" [(ngModel)]="reportForm.faultType" name="faultType"> </ng-select>
                          <p class="m-t-10"> Select the category of project</p>
                        </div>

                      </div>
                    </div>  
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Priority Level</h4>
                        <ng-select [ngClass]="'ng-select'" [options]="priorityOptions" [(ngModel)]="reportForm.priority" name="priority"> </ng-select>
                        <p class="m-t-10"> How urgent is it?</p>
                      </div>  
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Details</h4>
                        <textarea [(ngModel)]="reportForm.details" rows="5" cols="5" class="form-control" placeholder="Details of project" name="details"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Master Skill(s)</h4>
                        <textarea [(ngModel)]="reportForm.masterSkills" rows="5" cols="5" class="form-control" placeholder="Relevant Skills" name="masterSkills"></textarea>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Name</h4>
                        <input [(ngModel)]="reportForm.resident" type="text" placeholder="How do we address you" name="resident">
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Contact Number</h4>
                        <input [(ngModel)]="reportForm.phoneNumber" type="text" placeholder="87654321" name="phoneNumber">
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Relevant Documents</h4>
                        <button (click)="onClickMe()">Click me!</button>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-xs-12">
                        <h4 class="sub-title">Deadline</h4>
                            <div class="input-group">
                              <input [(ngModel)]="reportForm.date" type="text" placeholder="dd/mm/yy" name="date">
                              <!-- <div class="input-group-addon bg-default" (click)="d.toggle()" >
                                <span class="icofont icofont-ui-calendar"></span>
                              </div> -->
                          </div>
                      </div>  
                    </div> 
                  </form>
                <div class="card-footer">
                  <button (click)=submitReport(reportForm)>Submit</button>
                </div>   
              </div>
            </div>
    <!--Place for new submission of reports-->
  </div>
  <!-- Left column end -->
</div>